// NavBar 导航栏
.van-nav-bar
    background-color rgba(34, 38, 57, 0.8)
.van-nav-bar__title
    color #fff
.van-nav-bar .van-icon
    color #fff
.van-nav-bar__text
    color #fff
// Picker 选择器
.van-picker__toolbar
    border-bottom 1px solid #E5E5E5
.van-picker__cancel
    color #333333
.van-picker__confirm
    color #333333